<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Dashboard
    <small>Halaman Awal</small>
  </h1>
  <ol class="breadcrumb">
    <li class="active"><a href="#/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active"></li>
  </ol>
</section>
<style>
  #perkecil{
    font-size: 30px;
  }
  @media screen and (max-width: 960px) {
    #perkecil{
      font-size: 20px;
    }
  }

</style>

<!-- Main content -->
<section class="content">

  <!-- Small boxes (Stat box) -->
  
    
  <!-- /.row -->


  <!-- <div class="row">
    <div class="col-md-12">

      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><span class="fa fa-bolt"></span> Capaian Hasil Auditor</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">

          <div ng-if = "dashboard.capaian == ''" class="alert alert-info text-center">MEMUAT</div>

          <div style="height: 300px; margin-bottom:100px;"
            ng-if = "dashboard.capaian != ''"
            bar-chart
            bar-data='dashboard.capaian'
            bar-x='kecamatan'
            bar-y='["target", "onprogress", "finish", "overdu"]'
            bar-labels='["Jumlah", "onprogress", "finish", "overdu"]'>
          </div>

        </div>
      </div>

    </div> -->
<div class="row">
    <div class="col-md-12">

      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><span class="fa fa-fire"></span>Project Per Jenis Pekerjaan</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">

          <div ng-if = "dashboard.capaian_percent == ''" class="alert alert-info text-center">MEMUAT</div>

          <div style="height: 300px; margin-bottom:100px;"
            ng-if = "dashboard.capaian_percent != ''"
            bar-chart
            bar-data='dashboard.capaian_percent'
            bar-x='jenisPekerjaan'
            bar-y='[ "onprogress", "finish", "overdu"]'
            bar-labels='["ON PROGRESS", "FINISH", "OVERDU"]'>
          </div>

        </div>
      </div>

    </div>
</div>

 
  <div class="row">
    <div class="col-md-4">

      <div class="info-box bg-yellow">
        <span class="info-box-icon"><i class="fa fa-refresh"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">ON PROGRESS</span>
          <span class="info-box-number" ng-repeat="x in dashboard.onprogress">{{x.value}}</span>
          <div class="progress">
            <div class="progress-bar" style="width: {{jumlahJenisKelamin('2') / totalJenisKelamin() * 100}}%"></div>
          </div>
          <span class="progress-description">
            {{jumlahJenisKelamin('2') / totalJenisKelamin() * 100 | number : 2}}% Dari {{totalJenisKelamin()}} Project
          </span>
        </div>
      </div>

      <div class="info-box bg-green">
        <span class="info-box-icon"><i class="glyphicon glyphicon-ok"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">FINISH</span>
          <span class="info-box-number" ng-repeat="x in dashboard.finish">{{x.value}}</span>
          <div class="progress">
            <div class="progress-bar" style="width: {{jumlahJenisKelamin('1') / totalJenisKelamin() * 100}}%"></div>
          </div>
          <span class="progress-description">
            {{jumlahJenisKelamin('1') / totalJenisKelamin() * 100 | number : 2}}% Dari {{totalJenisKelamin()}} Project
          </span>
        </div>
      </div>

      <div class="info-box bg-red">
        <span class="info-box-icon"><i class="fa fa-remove"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">OVERDU</span>
          <span class="info-box-number" ng-repeat="x in dashboard.overdu">{{x.value}}</span>
          <div class="progress">
            <div class="progress-bar" style="width: {{jumlahJenisKelamin('3') / totalJenisKelamin() * 100}}%"></div>
          </div>
          <span class="progress-description">
            {{jumlahJenisKelamin('3') / totalJenisKelamin() * 100 | number : 2}}% Dari {{totalJenisKelamin()}} Project
          </span>
        </div>
      </div>
     

    </div>
    <div>
    <div class="col-md-8">

      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"> <span class="fa fa-cubes"></span>Project On Progress Per  Dinas </h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a data-target="#profesi_batang" class="btn btn-box-tool" data-toggle="tab">Batang</a></li>
              <li><a data-target="#profesi_pie" data-toggle="tab" class="btn btn-box-tool">Pie</a></li>
            </ul>
          </div>
        </div>
        <div class="box-body tab-content no-padding">

          <div ng-if = "dashboard.profesi == ''" class="alert alert-info text-center">BELUM ADA DATA</div>

          <div class="chart tab-pane active" id="profesi_batang" style="position: relative; height: 300px;"
            ng-if = "dashboard.profesi != ''"
            bar-chart
            bar-data='dashboard.profesi'
            bar-x='label'
            bar-y='["value"]'
            bar-labels='["Jumlah"]'
            bar-colors='["rgb(21, 187, 37)"]'>
          </div>

          <div class="chart tab-pane" id="profesi_pie" style="position: relative; height: 300px;"
            ng-if = "dashboard.profesi != ''"
            donut-chart
            donut-data='dashboard.profesi'
            donut-label-color='"#000000"'
            donut-background-color='"#ffffff"'
            donut-formatter='myFormatter'>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
    
  <div class="row">
    <div class="col-md-6">

      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><span class="fa fa-adjust"></span>Project Finish Per  Dinas</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a data-target="#usia_batang" class="btn btn-box-tool" data-toggle="tab">Batang</a></li>
              <li><a data-target="#usia_pie" data-toggle="tab" class="btn btn-box-tool">Pie</a></li>
            </ul>
          </div>
        </div>
        <div class="box-body tab-content no-padding">

          <div ng-if = "dashboard.usia == ''" class="alert alert-info text-center">BELUM ADA DATA</div>

          <div class="chart tab-pane active" id="usia_batang" style="position: relative; height: 300px;"
            ng-if = "dashboard.usia != ''"
            bar-chart
            bar-data='dashboard.usia'
            bar-x='label'
            bar-y='["value"]'
            bar-labels='["Jumlah"]'
            bar-colors='["#31C0BE"]'>
          </div>

          <div class="chart tab-pane" id="usia_pie" style="position: relative; height: 300px;"
            ng-if = "dashboard.usia != ''"
            donut-chart
            donut-data='dashboard.usia'
            donut-label-color='"#000000"'
            donut-background-color='"#ffffff"'
            donut-colors='["#31C0BE","#c7254e","#98a0d3"]'
            donut-formatter='myFormatter'>
          </div>

        </div>
      </div>

    </div>
    <div class="col-md-6">

      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"> <span class="fa fa-cubes"></span> Project Overdu Per  Dinas</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a data-target="#pendidikan_batang" class="btn btn-box-tool" data-toggle="tab">Batang</a></li>
              <li><a data-target="#pendidikan_pie" data-toggle="tab" class="btn btn-box-tool">Pie</a></li>
            </ul>
          </div>
        </div>
        <div class="box-body tab-content no-padding">

          <div ng-if = "dashboard.pendidikan == ''" class="alert alert-info text-center">BELUM ADA DATA</div>

          <div class="chart tab-pane active" id="pendidikan_batang" style="position: relative; height: 300px;"
            ng-if = "dashboard.pendidikan != ''"
            bar-chart
            bar-data='dashboard.pendidikan'
            bar-x='label'
            bar-y='["value"]'
            bar-labels='["Jumlah"]'
            bar-colors='["rgb(180, 173, 4)"]'>
          </div>

          <div class="chart tab-pane" id="pendidikan_pie" style="position: relative; height: 300px;"
            ng-if = "dashboard.pendidikan != ''"
            donut-chart
            donut-data='dashboard.pendidikan'
            donut-label-color='"#000000"'
            donut-background-color='"#ffffff"'
            donut-formatter='myFormatter'>
          </div>

        </div>
      </div>

    </div>
  </div>

</section>
<!-- /.content -->
