<!-- Content Header -->
<section class="content-header">
  <h1>Project
    <small>Data Project</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i>Dashboard</a></li>
  </ol>

</section>


<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">


      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a data-target="#semua" data-toggle="tab"><span class="fa fa-plus"></span> UPDATE HISTORY</a></li>
          <li><a data-target="#add" data-toggle="tab"> HISTORY PROJECT <span class="badge bg-blue">{{historys.length}}</span></a></li>
        </ul>
        <div class="tab-content">

          <div class="active tab-pane" id="semua">
            <div class="box box-primary">
              <div class="box-body">
            <div class="col-xs-6">
              <table class="table table-bordered">
                <tr>
                  <td>Desa/Kelurahan</td>
                  <td>: {{history.kelurahan}}</td>
                </tr>
                <tr>
                  <td>Kecamatan</td>
                  <td>: {{history.kecamatan}}</td>
                </tr>
                <tr>
                  <td>Kabupaten</td>
                  <td>: MUARA ENIM</td>
                </tr>
                <tr>
                  <td>Status</td>
                  <td>: {{history.status}}</td>
                </tr>
                
              </table>
            </div>

             <div class="col-xs-6">
              <table class="table table-bordered">
                <tr>
                  <td>Dinas Pemerintahan</td>
                  <td>: {{history.dinas}}</td>
                </tr>
                <tr>
                  <td>Jenis Pekerjaan</td>
                  <td>: {{history.jenisPekerjaan}}</td>
                </tr>
                <tr>
                  <td>Mulai Project</td>
                  <td>: <b>{{history.mulai | date:'d MMMM y'}}<b></td>
                </tr>
                <tr>
                  <td>Selesai Project</td>
                  <td>: <b>{{history.selesai | date:'d MMMM y'}}</b></td>
                </tr>
              </table>
            </div>
            <form name="form" ng-submit="updateProject()" novalidate>
                <div class="col-md-12" style="margin-bottom: 20px;">
                  <label>Keterangan Survei</label>
                  <input type="hidden" name="id" ng-model="history.idProject">
                  <textarea type="text" name="ketSurvei" ng-model="dataHistory.ketSurvei" class="form-control" placeholder="Keterangan Survei......." required="" ng-disabled="history.persen == '100' || history.status == 'OVERDU'"></textarea>
                  <span ng-show="form.ketSurvei.$invalid && !form.ketSurvei.$pristine"><i class="text-danger">Harus Di Isi</i></span>
                </div>
             
                 <div class="col-md-2">
                  <label>Persen</label>
                  <input type="number" min="{{history.persen}}" max="100" name="persen" ng-model="dataHistory.persen" class="form-control" placeholder="persentase" required="" ng-disabled="history.persen == '100' || history.status == 'OVERDU'">
                 <span ng-show="form.persen.$invalid && !form.persen.$pristine"><i class="text-danger">Harus Di Isi</i></span>
            
                </div>
                 
                <div class="col-md-12" style="margin-top: 20px;">
                  <button type="submit" class="btn btn-danger" ng-disabled="form.$invalid || history.persen == '100' || history.status == 'OVERDU'">Submit</button>
              </div>

          </form>
          </div>
        </div>
          </div>  
          <!-- /.tab-pane -->

          <div class="tab-pane" id="add">
            <div ng-include src="'project-history-lihat.html'"></div>
          </div>
          <!-- /.tab-pane -->

        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.nav-tabs-custom -->


    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->


<script type="text/javascript">
$('.date-picker').datepicker({
  autoclose: true,
  todayHighlight: true,
  format:'yyyy-mm-dd'
})
</script>
<script>
            function tampilkanPreview(gambar,idpreview){
//                membuat objek gambar
                var gb = gambar.files;
                
//                loop untuk merender gambar
                for (var i = 0; i < gb.length; i++){
//                    bikin variabel
                    var gbPreview = gb[i];
                    var imageType = /image.*/;
                    var preview=document.getElementById(idpreview);            
                    var reader = new FileReader();
                    
                    if (gbPreview.type.match(imageType)) {
//                        jika tipe data sesuai
                        preview.file = gbPreview;
                        reader.onload = (function(element) { 
                            return function(e) { 
                                element.src = e.target.result; 
                            }; 
                        })(preview);
 
    //                    membaca data URL gambar
                        reader.readAsDataURL(gbPreview);
                    }else{
//                        jika tipe data tidak sesuai
                        alert("Type file tidak sesuai. Khusus image.");
                    }
                   
                }    
            }

            function tampilkanPreview1(gambar,idpreview){
//                membuat objek gambar
                var gb = gambar.files;
                
//                loop untuk merender gambar
                for (var i = 0; i < gb.length; i++){
//                    bikin variabel
                    var gbPreview = gb[i];
                    var imageType = /image.*/;
                    var preview1=document.getElementById(idpreview);            
                    var reader = new FileReader();
                    
                    if (gbPreview.type.match(imageType)) {
//                        jika tipe data sesuai
                        preview1.file = gbPreview;
                        reader.onload = (function(element) { 
                            return function(e) { 
                                element.src = e.target.result; 
                            }; 
                        })(preview1);
 
    //                    membaca data URL gambar
                        reader.readAsDataURL(gbPreview);
                    }else{
//                        jika tipe data tidak sesuai
                        alert("Type file tidak sesuai. Khusus image.");
                    }
                   
                }    
            }

            function tampilkanPreview2(gambar,idpreview){
//                membuat objek gambar
                var gb = gambar.files;
                
//                loop untuk merender gambar
                for (var i = 0; i < gb.length; i++){
//                    bikin variabel
                    var gbPreview = gb[i];
                    var imageType = /image.*/;
                    var preview2=document.getElementById(idpreview);            
                    var reader = new FileReader();
                    
                    if (gbPreview.type.match(imageType)) {
//                        jika tipe data sesuai
                        preview2.file = gbPreview;
                        reader.onload = (function(element) { 
                            return function(e) { 
                                element.src = e.target.result; 
                            }; 
                        })(preview2);
 
    //                    membaca data URL gambar
                        reader.readAsDataURL(gbPreview);
                    }else{
//                        jika tipe data tidak sesuai
                        alert("Type file tidak sesuai. Khusus image.");
                    }
                   
                }    
            }
        </script>

